<footer class="footer">
        <div class="container ">
            <div class="row">
                     <p>&copy; 2023 Airbnb Clone. All rights reserved.</p>
            </div>
            <div class="row footer-rows">
                <div class="cols footer-cols">
                <ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Company details</a></li>
                </ul>
                <ul>
                    <li><i class="bi bi-facebook"></i></li>
                    <li><i class="bi bi-twitter"></i></li>
                    <li><i class="bi bi-instagram"></i></li>
                    <li><i class="bi bi-linkedin"></i></li>
                </ul>
                </div>
            </div>
        </div>
</footer>