.show-card{
    margin: 1rem !important;
    margin-left: 1rem !important;
    max-width: 30rem !important;
    min-width: 10rem !important;
    height: 100% !important;
    /* height: auto !important; */
}
.show-card-body{
   margin: 3px 10px 10px 10px !important;
}

.show-body-button{
    display: flex;
    justify-content:space-around;
    align-content: space-around ;
    padding: 2rem 0 5px 0;
}
.show-card-image{
    width: 100%;
    height: auto !important;
    object-fit: cover !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.card-body{
    padding-top: 2px !important;
    padding-left: 5px !important;
    padding-bottom: 3px !important;
}
.card-body h5 {
    margin-bottom: 2px !important;
}
.card-body p{
    margin-bottom: 5px;
}
.container-fluid{
    padding-right: 4rem !important;
}
@media (min-width: 768px) {
  .show-card {
    max-width: 600px; /* nice width for tablets/desktops */
  }
}