<% layout('layouts/boilerplate') %>
<div class="main-body">
  <div class="signup-form-container">
    <h1 >Sign up</h1>
    <div class="signup-form">
      <form action="/signup" method="post" class="needs-validation" novalidate>
        <div class="mb-2">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            placeholder="Enter your Email"
            autocomplete="email"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-2">
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="Enter your Username"
            autocomplete="username"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-2">
          <label for="new-password">Password</label>
          <input
            id="new-password"
            name="password"
            type="password"
            placeholder="Enter your Password"
            autocomplete="new-password"
            required
          />
        </div>
        <button type="submit" class="btn btn-outline-danger">Sign up</button>
      </form>
    </div>
    <div class="mt-4">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
